<div class="card main-card">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="card highlight-card">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <h3>Create a new Lobby</h3>
                </div>
                <div class="row">
                  <!-- <app-home-create-user class="w-100"></app-home-create-user> -->
                  <app-home-join-lobby class="w-100"></app-home-join-lobby>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
</div>
