<div class="card main-card">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="card highlight-card">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <h3>Create a new Lobby</h3>
                </div>
                <div class="row">

                  <div class="container">
                    <div class="row">
                      <form (ngSubmit)="onCreateLobbySubmit()" class="container">
                        <div class="container">
                          <div class="row">
                            <p>Insert Lobby Settings Here... [WIP]</p>
                          </div>
                          <!-- <div class="row">
                            <div class="col6">
                              <div class="form-group">
                                <label for="inputLobbyId" class="visually-hidden">Lobby-ID</label>
                                <input type="text" formControlName="lobbyId" class="form-control" id="inputLobbyId" placeholder="Lobby-ID">
                              </div>
                            </div>
                            <div class="col6">
                              <div class="form-group">
                                <label for="inputLobbyId" class="visually-hidden">Lobby-ID</label>
                                <input type="text" formControlName="lobbyId" class="form-control" id="inputLobbyId" placeholder="Lobby-ID">
                              </div>
                            </div>
                          </div> -->
                          <div class="row">
                            <div class="col-12">
                              <button type="submit" class="btn btn-secondary w-100">Create Lobby</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
</div>
