<div class="card main-card">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <h1 id="tableLabel">Welcome to 'Who am I'</h1>
        <p>
          I´ts a guessing game, where you play with your friends who give you names of characters and you have to Guess who you are. But there is a catch: You are only allowed to ask Questions that can be answert with just an 'Yes' or 'No'. The other players have to anwer this question then correctly.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="card highlight-card">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <h3>Join a Game</h3>
                </div>
                <div class="row">
                  <!-- <app-home-create-user class="w-100"></app-home-create-user> -->
                  <app-home-join-lobby class="w-100"></app-home-join-lobby>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
</div>
