<div class="container">
  <div class="row">
    <form (ngSubmit)="onCreateLobbySubmit()" class="container">
      <div class="container">
        <!-- <div class="row">
          <div class="col6">
            <div class="form-group">
              <label for="inputLobbyId" class="visually-hidden">Lobby-ID</label>
              <input type="text" formControlName="lobbyId" class="form-control" id="inputLobbyId" placeholder="Lobby-ID">
            </div>
          </div>
          <div class="col6">
            <div class="form-group">
              <label for="inputLobbyId" class="visually-hidden">Lobby-ID</label>
              <input type="text" formControlName="lobbyId" class="form-control" id="inputLobbyId" placeholder="Lobby-ID">
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-secondary w-100">Create Lobby</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
